@charset "UTF-8";

h1:not(.title) {
	font-weight: bold;
	padding-top: 3em;
	text-align: center;
}
.title {
	font-weight: bold;
	padding-top: 1em;
	text-align: center;
}
h4 {
	font-weight: bold;
}
a {
	text-align: center;
}
div:not(#navigation) {
	display: flex;
	font-family: 'Saira', sans-serif;
	justify-content: center;
}
.bg_box {
	width: 40%;
}
.bg_box2 {
	width: 80%;
}
.sns-btn {
	margin: 5px;
	width: 50%;
}
.sns-logo {
	margin-right: 20px;
}
body {
	background-color: #c4e4f9;
}
.alert_subtext:not(.mobile) {
	font-size: 13px;
	color: #F39C12;
	font-weight: bold;
	padding-left: 24em;
}
.email_subtext {
	font-size: 14px;
	color: #5e5e5e;
	font-weight: bold;
}
.mobile {
	font-size: 13px;
	color: #F39C12;
	font-weight: bold;
	padding-left: 23em;
}
label[for="confirm_emailAd"] {
        position: relative;
        top: -1px;
      }
.form-floating:not(.mobile-box) {
	width: 400px;
}

.mobile-box {
	width: 275px;
}
.mobile-btn {
	width: 100px;
	height: 58px;
	font-weight: bold;
}