@charset "UTF-8";
h1 {
	font-weight: bold;
	text-align: center;
	padding-top: 3em;
}
a {
	text-align: center;
}
div {
	display: flex;
	justify-content: center;
}
.bg_box {
	width: 40%;
}
.sns-btn {
	margin: 5px;
	width: 50%;
	text-align: left;
}
.sns-logo {
	margin-right: 20px;
}
body {
	background-color: #c4e4f9;
}